nav.clearfix
  a(href= locals.baseUrl+'/') Nodejs
  a(href= locals.baseUrl + "/archive.html") Arşiv

  a.social(href='https://www.linkedin.com/grps/Nodejs-Dersleri-8422784', target='_blank')
    span.socicon.socicon-linkedin
  
  a.social(href='https://twitter.com/nodejsdersleri', target='_blank')
    span.socicon.socicon-twitter
  
  a.social(href='https://www.youtube.com/channel/UCkgCOVtZMEtxwmfgqAyZsXA', target='_blank')
    span.socicon.socicon-youtube
    
  a.social(href='https://github.com/nodejs-dersleri', target='_blank')
    span.octicon.octicon-logo-github
